@model LoginSignUpModel

<div id="signup">
    <h1>Register</h1>
    <form asp-controller="Account" asp-action="SignUp">
        <input type="hidden" asp-for="SignUpModel.ReturnUrl" value="@(ViewBag.returnUrl)" />
        <div class="tg-dashboardcontent">
            <div class="tg-content">
                @if (ViewBag.Title != "Login")
                {
                    <div asp-validation-summary="ModelOnly" class="text-danger" style="font-size: larger; font-weight: bold"></div>
                }
                <fieldset>
                    <br />
                    <div class="form-group">
                        <label asp-for="SignUpModel.UserName">Username<sup>*</sup></label>
                        <input class="form-control" asp-for="SignUpModel.UserName" />
                        <div><span asp-validation-for="SignUpModel.UserName" class="text-danger"></span></div><br />
                    </div>

                    <div class="form-group">
                        <label asp-for="SignUpModel.Email">Email<sup>*</sup></label>
                        <input class="form-control" asp-for="SignUpModel.Email" />
                        <div><span asp-validation-for="SignUpModel.Email" class="text-danger"></span></div><br />
                    </div>

                    <div class="form-group">
                        <label asp-for="SignUpModel.FirstName">First Name<sup>*</sup></label>
                        <input class="form-control" asp-for="SignUpModel.FirstName" />
                        <div><span asp-validation-for="SignUpModel.FirstName" class="text-danger"></span></div><br />
                    </div>

                    <div class="form-group">
                        <label asp-for="SignUpModel.LastName">Last Name<sup>*</sup></label>
                        <input class="form-control" asp-for="SignUpModel.LastName" />
                        <div><span asp-validation-for="SignUpModel.LastName" class="text-danger"></span></div><br />
                    </div>

                    <div class="form-group" style="width: 100%">
                        <label>Gender<sup>*</sup></label>
                        @foreach (var gender in new Dictionary<string, string>() {
                             { "Male", "Male" },
                             { "Female", "Female" },
                             { "Other", "Other"}
                         })
                        {
                            if (Model?.SignUpModel?.Gender != null && Model.SignUpModel.Gender.Equals(gender.Key))
                            {
                                <label class="radio-inline control-label">
                                    <input class="form-check-input" type="radio" asp-for="SignUpModel.Gender" value="@gender.Key" checked /> @gender.Value
                                </label>
                            }
                            else
                            {
                                <label class="radio-inline control-label">
                                    <input type="radio" asp-for="SignUpModel.Gender" value="@gender.Key" /> @gender.Value
                                </label>
                            }
                        }
                        <div><span asp-validation-for="SignUpModel.Gender" class="text-danger"></span></div><br />
                    </div>

                    <div class="form-group" style="width: 100%">
                        <label asp-for="SignUpModel.Address">Address<sup>*</sup></label>
                        <input class="form-control" asp-for="SignUpModel.Address" />
                        <div><span asp-validation-for="SignUpModel.Address" class="text-danger"></span></div><br />
                    </div>

                    <div class="form-group" id="bdPicker">
                        <label asp-for="SignUpModel.BirthDate">Birth Date<sup>*</sup></label>
                        <input class="form-control" asp-for="SignUpModel.BirthDate" />
                        <div><span asp-validation-for="SignUpModel.BirthDate" class="text-danger"></span></div><br />
                    </div>

                    <div class="form-group">
                        <label asp-for="SignUpModel.Tel">Phone Number<sup>*</sup></label>
                        <input class="form-control" asp-for="SignUpModel.Tel" />
                        <div><span asp-validation-for="SignUpModel.Tel" class="text-danger"></span></div><br />
                    </div>

                    <div class="form-group">
                        <label asp-for="SignUpModel.Password">Password<sup>*</sup></label>
                        <input class="form-control" asp-for="SignUpModel.Password" />
                        <div><span asp-validation-for="SignUpModel.Password" class="text-danger"></span></div><br />
                    </div>

                    <div class="form-group">
                        <label asp-for="SignUpModel.ConfirmPassword">Confirm Password<sup>*</sup></label>
                        <input class="form-control" asp-for="SignUpModel.ConfirmPassword" />
                        <div><span asp-validation-for="SignUpModel.ConfirmPassword" class="text-danger"></span></div><br />
                    </div>

                    <div class="form-group" style="width: 100%">
                        <label for="AcceptTerm">
                            <input class="form-check-input" asp-for="SignUpModel.AcceptTerm" /> I agree to the Terms & Privacy<sup>*</sup>
                        </label>
                        <input name="AcceptTerm" type="hidden" value="false" />
                        <div><span asp-validation-for="SignUpModel.AcceptTerm" class="text-danger"></span></div><br />
                    </div>
                </fieldset>
            </div>
        </div>
        <button type="submit" class="regbtn">Sign Up</button>
    </form>
</div>