@model DestinationSearchViewModel

@section JS {
    <script type="text/javascript">        
        $("#tg-main").attr("class", "tg-main tg-sectionspace tg-haslayout");
        var element = $("#tg-main");
        $(window).scrollTop(element.offset().top).scrollLeft(element.offset().left);
    </script>
}


@section Slider {
    @await Component.InvokeAsync("Slider")
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="tg-content" class="tg-content">
                <div class="tg-listing tg-listingvtwo">
                    <div class="tg-sectiontitle">
                        <h2>@ViewBag.Title</h2>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger text-center" style="font-size: larger; font-weight: bold"></div>
                    <div class="clearfix"></div>
                    @if (Model?.Destinations != null && Model.Destinations.Count() > 0)
                    {
                        <div class="row">
                            @foreach (Destination destination in Model.Destinations)
                            {
                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="tg-trendingtrip">
                                        <figure>
                                            <a asp-area="" asp-controller="Destination" asp-action="Details" asp-route-id="@destination.Id">
                                                <img style="width: 401px; height: 250px;" src="@destination.Image" alt="destination image" asp-append-version="true">
                                                <div class="tg-hover">
                                                    <span class="tg-locationname">@destination.Country</span>
                                                    <div class="tg-pricearea">
                                                        <h4></h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </figure>
                                        <div class="tg-populartourcontent">
                                            <div class="tg-populartourtitle">
                                                <h3><a asp-area="" asp-controller="Destination" asp-action="Details" asp-route-id="@destination.Id">@destination.Name</a></h3>
                                            </div>
                                            <div class="tg-description">
                                                <p>@destination.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        <div class="clearfix"></div>
                        <nav class="tg-pagination" page-info="@Model.PageInfo"
                             page-url-IsActive="true"
                             page-class-selected="tg-active"></nav>
                    }
                    else
                    {
                        <h3 class="text-center">No destination found!</h3>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
