@model CartLine

@{
    ViewData["Title"] = "Tour Details";
}

@section CSS {
    <style>
        .form-group .field-validation-error span {
            color: orangered;
        }
    </style>
}

@section JS {
    <script>
        //calculate total price with number of tickets
        var adultFare;
        var kidFare;
        $(document).ready(function () {
            adultFare = parseFloat($("#AdultFare").val());
            kidFare = parseFloat($("#KidFare").val());
            var numAdult = $("#AdultTicket").val();
            var numKid = $("#KidTicket").val();
            var total = ($.isNumeric(numKid) ? parseInt(numKid) : 0) * kidFare + adultFare * ($.isNumeric(numAdult) ? parseInt(numAdult) : 0);
            $("#total h4").html("Total: " + "$" + total);
        });

        $('#AdultTicket').on("change paste keyup", function () {
            var numAdult = $("#AdultTicket").val();
            var numKid = $("#KidTicket").val();
            var total = ($.isNumeric(numKid) ? parseInt(numKid) : 0) * kidFare + adultFare * ($.isNumeric(numAdult) ? parseInt(numAdult) : 0);
            $("#total h4").html("Total: " + "$" + total);
            $("#AdultTicket").valid();
            $("#KidTicket").valid();
        });
        $('#KidTicket').on("change paste keyup", function () {
            var numAdult = $("#AdultTicket").val();
            var numKid = $("#KidTicket").val();
            var total = ($.isNumeric(numKid) ? parseInt(numKid) : 0) * kidFare + adultFare * ($.isNumeric(numAdult) ? parseInt(numAdult) : 0);
            $("#total h4").html("Total: " + "$" + total);
            $("#AdultTicket").valid();
            $("#KidTicket").valid();
        });

        //add new method to jquery validation to ensure that number of tickets is not greater than number of left slots
        $.validator.addMethod("notExceed", function (value, element) {
            var leftSlot = parseInt($("#LeftSlot").val());
            var numAdult = $("#AdultTicket").val();
            var numKid = $("#KidTicket").val();
            var total = ($.isNumeric(numKid) ? parseInt(numKid) : 0) + ($.isNumeric(numAdult) ? parseInt(numAdult) : 0);
            return total <= leftSlot;
        });
        $.validator.addMethod("atLeastTicket", function (value, element) {
            var numAdult = $("#AdultTicket").val();
            var numKid = $("#KidTicket").val();
            var total = ($.isNumeric(numKid) ? parseInt(numKid) : 0) + ($.isNumeric(numAdult) ? parseInt(numAdult) : 0);
            return total > 0;
        });

        //add new method to unobtrusive adapter to perform
        $.validator.unobtrusive.adapters.add("notExceed", function (options) {
            options.rules["notExceed"] = true;
            options.messages['notExceed'] = options.message;
        });
        $.validator.unobtrusive.adapters.add("atLeastTicket", function (options) {
            options.rules['atLeastTicket'] = true;
            options.messages['atLeastTicket'] = options.message;
        });

    </script>
}

@section Slider {
    <!--************************************
                        Inner Banner Start
    *************************************-->
    <div class="tg-parallax tg-innerbanner" data-appear-top-offset="600" data-parallax="scroll" data-image-src="@Model.Tour.Image">
        <div class="tg-sectionspace tg-haslayout">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
                    Inner Banner End
    *************************************-->
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="tg-content" class="tg-content">
                <div class="tg-tourbookingdetail">
                    <div class="tg-bookinginfo">
                        <div class="text-center text-danger" style="font-size: larger; font-weight: bold; padding-bottom: 3%" asp-validation-summary="ModelOnly"></div>
                        <h2>@Model.Tour.Name</h2>
                        <h4 style="text-transform: uppercase">Tour ID: @Model.Tour.Id</h4>
                        <div class="tg-pricearea">
                            <span>From</span>
                            <h4>@Model.Tour.AdultFare.ToString("C0")<sub>/ per adult</sub></h4>
                            <br />
                            <span>And</span>
                            <h4>@Model.Tour.KidFare.ToString("C0")<sub>/ per kid</sub></h4>
                        </div>
                        <input type="hidden" id="AdultFare" value="@Model.Tour.AdultFare" />
                        <input type="hidden" id="KidFare" value="@Model.Tour.KidFare" />
                        <input type="hidden" id="LeftSlot" value="@Model.Tour.LeftSlot" />
                        @if (Model.Tour.FromDate > DateTime.Now) // if tour has not started yet
                        {
                            <div class="tg-description">
                                @if (Model.Tour.LeftSlot > 0)
                                {
                                    <p>There’s only @Model.Tour.LeftSlot spot left.</p>
                                    @if (Model.Tour.TakenSlot > 5)
                                    {
                                        @:<p>Join @Model.Tour.TakenSlot others at Z Tourist’s experience.</p>
                                    }
                                }
                                else
                                {
                                    <p>There's no spot left.</p>
                                }
                            </div>
                            <form asp-controller="Cart" asp-action="Add" class="tg-formtheme tg-formbookingdetail" method="post">
                                <input type="hidden" asp-for="Tour.Id" value="@Model.Tour.Id" />
                                <fieldset>
                                    <div class="form-group">
                                        <div class="form-horizontal">
                                            <h4>Number of adults:</h4>
                                        </div>
                                        <div class="tg-formicon"><i class="icon-users"></i></div>
                                        <div class="input-group">
                                            <input class="form-control" type="number" asp-for="AdultTicket" placeholder="Adult tickets"
                                                   data-val="true"
                                                   data-val-digits="Number of tickets only contains digits"
                                                   data-val-notExceed="Not enough tickets"
                                                   data-val-atLeastTicket="You must choose at least 1 ticket for adult or kid" />
                                            <span asp-validation-for="AdultTicket"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-horizontal">
                                            <h4>Number of kids:</h4>
                                        </div>
                                        <div class="tg-formicon"><i class="fa fa-child"></i></div>
                                        <div class="input-group">
                                            <input class="form-control" type="number" asp-for="KidTicket" placeholder="Kid tickets"
                                                   data-val="true"
                                                   data-val-digits="Number of tickets only contains digits"
                                                   data-val-notExceed="Not enough tickets"
                                                   data-val-atLeastTicket="You must choose at least 1 ticket for adult or kid" />
                                            <span asp-validation-for="KidTicket"></span>
                                        </div>
                                    </div>
                                    @if (Model.Tour.LeftSlot > 0)
                                    {
                                        <div class="form-group" style="vertical-align: bottom">
                                            <div>&ensp;</div>
                                            <button type="submit" class="tg-btn tg-btn-lg"><span>add to cart</span></button>
                                        </div>
                                    }
                                </fieldset>
                                <div class="tg-pricearea" id="total" style="margin-top: 5%">
                                    <h4>Total: $0</h4>
                                </div>
                            </form>
                        }
                        else
                        {
                            <fieldset>
                                <div class="tg-pricearea" style="margin-top: 5%">
                                    <h4>Tour has started! Booking is not available</h4>
                                </div>
                            </fieldset>
                        }
                        <ul class="tg-tripinfo">
                            <li><span class="tg-tourduration">@Model.Tour.DurationStr()</span></li>
                            <li><span class="tg-tourduration tg-availabilty">@Model.Tour.FromDate.ToString("dd/MM/yyyy") - @Model.Tour.ToDate.ToString("dd/MM/yyyy")</span></li>
                            <li>
                                <span class="tg-tourduration tg-location">
                                    @if (Model.Tour.Destinations != null)
                                    {
                                        @:@string.Join(" - ", Model.Tour.Destinations.Select(d => d.Name))
                                    }
                                </span>
                            </li>
                            @if (Model.Tour.TakenSlot > 5)
                            {
                                <li><span class="tg-tourduration tg-peoples">@Model.Tour.TakenSlot People in this tour</span></li>
                            }
                        </ul>
                        <div class="tg-refundshare">
                            <div style="width: 75%; margin: 0 auto">
                                <h4 class="tg-wrapper text-left"><strong>Description: </strong>@Model.Tour.Description</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


