@model Order

@{
    ViewData["Title"] = "Check out";
}

@section CSS {
    <link rel="stylesheet" href="~/css/jquery-confirm.min.css" asp-append-version="true">
}

@section JS {
    <script src="~/js/jquery-confirm.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#confirm_btn').confirm({
                title: "Payment Confirm",
                content: "Are you sure to place this order?",
                type: "green",
                icon: "fa fa-money",
                buttons: {
                    "yes, i'm sure": {
                        btnClass: "btn btn-success",
                        action: function() {
                            $(".my-confirm-form").submit();
                        }
                    },
                    no: {
                        btnClass: "btn"
                    }
                }
            });
        });
    </script>
}

@section Slider {
    <!--************************************
    Inner Banner Start
    *************************************-->
    <section class="tg-parallax tg-innerbanner" data-appear-top-offset="600" data-parallax="scroll" data-image-src="https://ztourist.blob.core.windows.net/others/banner.png">
        <div class="tg-sectionspace tg-haslayout">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h1>Place your Order</h1>
                        <h2>Confirmation</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
                    Inner Banner End
    *************************************-->
}
<div class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="tg-content" class="tg-content">
                    <div class="tg-billingdetail">
                        <div class="text-center text-danger" style="font-size: larger; font-weight: bold; padding-bottom: 3%;" asp-validation-summary="ModelOnly"></div>
                        <form class="tg-formtheme tg-formbillingdetail my-confirm-form" asp-controller="Order" asp-action="Pay">
                            <fieldset>
                                <div class="tg-bookingdetail">
                                    <div class="tg-box">
                                        <div class="tg-heading">
                                            <h3>Payment Confirmation</h3>
                                        </div>
                                        <div class="tg-dashboardcontent">
                                            <div class="tg-content">
                                                <ul class="tg-liststyle">
                                                    <li><span>Order ID:</span></li>
                                                    <li><span>@Model.Id</span></li>
                                                    <li><span>Your Name:</span></li>
                                                    <li><span style="text-transform: capitalize">@Model.Customer.FirstName @Model.Customer.LastName</span></li>
                                                    <li><span>Gender:</span></li>
                                                    <li><span>@Model.Customer.Gender</span></li>
                                                    <li><span>Birth Date:</span></li>
                                                    <li><span>@Model.Customer.BirthDate.ToString("dd/MMM/yyyy")</span></li>
                                                    <li><span>Email Address:</span></li>
                                                    <li><span>@Model.Customer.Email</span></li>
                                                    <li><span>Phone:</span></li>
                                                    <li><span>@Model.Customer.PhoneNumber</span></li>
                                                    <li><span>Contact Address:</span></li>
                                                    <li><span>@Model.Customer.Address</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-bookingdetail">
                                    <div class="tg-box tg-addtionalinfo">
                                        <div class="tg-heading">
                                            <h3>Additional Information</h3>
                                        </div>
                                        <div class="form-group">
                                            <label>Your Comment</label>
                                            <textarea asp-for="Comment" placeholder="Notes about your order"></textarea>
                                            <span asp-validation-for="Comment"></span>
                                        </div>
                                    </div>
                                    <div class="tg-box tg-yourorder">
                                        <div class="tg-heading">
                                            <h3>Your Order</h3>
                                        </div>
                                        <div class="tg-widgetpersonprice">
                                            <div class="tg-widgetcontent">
                                                <ul>
                                                    <li class="tg-personprice"><div class="tg-perperson"><span>Number of tours: </span><em>@Model.Cart.Lines.Count()</em></div></li>
                                                    <li><span>Sub Total:</span><em>@Model.Cart.ComputeTotalValue().ToString("C0")</em></li>
                                                    <li><span>Coupon Code:</span><em>@(Model?.Cart?.Coupon?.Code ?? "Not applied")</em></li>
                                                    <li><span>Off Percent:</span><em>@(Model?.Cart?.Coupon?.OffPercent ?? 0)%</em></li>
                                                    <li class="tg-totalprice"><div class="tg-totalpayment"><span>Total Price:</span><em>@((Model.Cart.ComputeTotalValue() * (100 - (Model?.Cart?.Coupon?.OffPercent ?? 0)) / 100).ToString("C0"))</em></div></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="tg-paymentarea">
                                <div id="tg-accordion" class="tg-accordion" role="tablist" aria-multiselectable="true">
                                    <div class="tg-panel">
                                        <h4 class="tg-radio">
                                            <input type="radio" id="bank-transfer" checked>
                                            <label for="bank-transfer">Direct Bank Transfer</label>
                                        </h4>
                                        <div class="tg-panelcontent">
                                            <div class="tg-description">
                                                <p>Transfer with content: Order ID - Your full name</p>
                                                <p>Example: @Model.Id - <span style="text-transform: capitalize">@Model.Customer.FirstName @Model.Customer.LastName</span></p>

                                                <p>
                                                    <br /><br />Account holder: ZTourist Travel Service
                                                    <br />
                                                    Account number: 0071370087213
                                                    <br />
                                                    Bank in Vietnam: Vietcombank
                                                    <br />
                                                    Swift code: BFTVVNVX
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <a class="tg-btn" asp-controller="Cart" asp-action=""><span style="font-weight: bold">Go Back</span></a>
                                <button id="confirm_btn" class="tg-btn" type="submit"><span style="font-weight: bold">Place Order</span></button>
                            </fieldset>
                            <input type="hidden" asp-for="Id" value="@Model.Id" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
