@model Tour

@{
    ViewData["Title"] = "Tour Details";
}

@section CSS {
<link href="~/css/jquery-confirm.min.css" rel="stylesheet" asp-append-version="true" />
<style>
    .form-group .field-validation-error span {
        color: orangered;
    }

    .my-tour-btn {
        width: 33%;
        margin-top: 2%;
    }

    @@media only screen and (max-width:767px) {

        .my-tour-btn {
            width: 100%;
        }
    }
</style>
}

@section JS  {
<script src="~/js/jquery-confirm.min.js" asp-append-version="true"></script>
<script type="text/javascript">
        $(document).ready(function () {
            // deactivate button
            $('#btnDeactivate').confirm({
                title: "Confirm @(Model.IsActive ? "Deactivate" : "Activate")",
                content: '' +
                    '<form action="" class="formName">' +
                    '<div class="form-group">' +
                    '<label>Type \'yes\' to confirm @(Model.IsActive ? "deactivate" : "activate") this tour</label>' +
                    '<input type="text" placeholder="" class="confirmMsg form-control" required />' +
                    '</div>' +
                    '</form>',
                type: "orange",
                icon: "fa fa-warning",
                buttons: {
                    ok: {
                        btnClass: "btn btn-warning",
                        action: function () {
                            var confirm = this.$content.find('.confirmMsg').val() + "";
                            if (!confirm || confirm.toUpperCase() != "yes".toUpperCase()) {
                                return false;
                            }
                            $("#form-Deactivate").submit();
                        }
                    },
                    cancel: {
                        btnClass: "btn"
                    }
                },
                onContentReady: function () {
                    // bind to events
                    this.$content.find('form').on('submit', function (e) {
                        // if the user submits the form by pressing enter in the field.
                        e.preventDefault();
                        var confirm = $('.confirmMsg').val() + "";
                        if (!confirm || confirm.toUpperCase() != "yes".toUpperCase()) {
                            return false;
                        }
                        $("#form-Deactivate").submit();
                    });
                }
            });

            // delete button
            $('#btnDelete').confirm({
                title: "Confirm Delete",
                content: '' +
                    '<form action="" class="formName">' +
                    '<div class="form-group">' +
                    '<label>Type \'yes\' to confirm delete this tour</label>' +
                    '<input type="text" placeholder="" class="confirmMsg form-control" required />' +
                    '</div>' +
                    '</form>',
                type: "red",
                icon: "fa fa-warning",
                buttons: {
                    ok: {
                        btnClass: "btn btn-danger",
                        action: function () {
                            var confirm = this.$content.find('.confirmMsg').val() + "";
                            if (!confirm || confirm.toUpperCase() != "yes".toUpperCase()) {
                                return false;
                            }
                            $("#form-Delete").submit();
                        }
                    },
                    cancel: {
                        btnClass: "btn"
                    }
                },
                onContentReady: function () {
                    // bind to events
                    this.$content.find('form').on('submit', function (e) {
                        // if the user submits the form by pressing enter in the field.
                        e.preventDefault();
                        var confirm = $('.confirmMsg').val() + "";
                        if (!confirm || confirm.toUpperCase() != "yes".toUpperCase()) {
                            return false;
                        }
                        $("#form-Delete").submit();
                    });
                }
            });
        });
</script>
}
}

@section Slider {
<!--************************************
                    Inner Banner Start
*************************************-->
<div class="tg-parallax tg-innerbanner" data-appear-top-offset="600" data-parallax="scroll" data-image-src="@Model.Image">
    <div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
            </div>
        </div>
    </div>
</div>
<!--************************************
                Inner Banner End
*************************************-->
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="tg-content" class="tg-content">
                <div class="tg-tourbookingdetail">
                    <div class="tg-bookinginfo">
                        <div class="text-center text-danger" style="font-size: larger; font-weight: bold; padding-bottom: 3%" asp-validation-summary="ModelOnly"></div>
                        <h2>@Model.Name</h2>
                        <h4 style="text-transform: uppercase">Tour ID: <strong>@Model.Id</strong></h4>
                        <h5>Status: <strong>@(Model.IsActive ? "Active" : "Not active")</strong></h5>
                        <h5>Maximum people: @Model.MaxGuest</h5>
                        <div class="tg-pricearea">
                            <span>From</span>
                            <h4>@Model.AdultFare.ToString("C0")<sub>/ per adult</sub></h4>
                            <br />
                            <span>And</span>
                            <h4>@Model.KidFare.ToString("C0")<sub>/ per kid</sub></h4>
                            <br /><br />
                            @if (Model.LeftSlot > 0)
                            {
                            <h4>There’s @Model.LeftSlot spot left.</h4>
                            }
                            else
                            {
                            <h4>There's no spot left.</h4>
                            }
                        </div>
                        <div style="width: 75%; margin: 0 auto">
                            <h4 class="tg-wrapper text-left"><strong>Guides: </strong>@string.Join(", ", Model.Guides.Select(g => $"{g.FirstName} {g.LastName}"))</h4>
                            <br />
                            <h4 class="tg-wrapper text-left"><strong>Description: </strong>@Model.Description</h4>
                        </div>
                        <ul class="tg-tripinfo">
                            <li><span class="tg-tourduration">@Model.DurationStr()</span></li>
                            <li><span class="tg-tourduration tg-availabilty">@Model.FromDate.ToString("dd/MM/yyyy") - @Model.ToDate.ToString("dd/MM/yyyy")</span></li>
                            <li>
                                <span class="tg-tourduration tg-location">
                                    @if (Model.Destinations != null)
                                    {
                                    @:@string.Join(" - ", Model.Destinations.Select(d => d.Name))
                                    }
                                </span>
                            </li>
                            <li><span class="tg-tourduration tg-peoples">@(Model.TakenSlot > 0 ? Model.TakenSlot.ToString() : "No") people in this tour</span></li>
                        </ul>
                        @if (User.IsInRole("Admin")) // if user is admin
                        {
                        <div class="form-group my-tour-btn">
                            <form id="form-Delete" asp-area="Company" asp-controller="Tour" asp-action="Delete" method="post">
                                <input type="hidden" asp-for="Id" value="@Model.Id" />
                                <button style="background-color: #d9534f" id="btnDelete" type="submit" class="tg-btn"><span>Delete</span></button>
                            </form>
                        </div>
                        <div class="form-group my-tour-btn">
                            <form id="form-Deactivate" asp-area="Company" asp-controller="Tour" asp-action="@(Model.IsActive ? "Deactivate" : "Activate" )" method="post">
                                <input type="hidden" asp-for="Id" value="@Model.Id" />
                                <button style="background-color: #f0ad4e;" id="btnDeactivate" type="submit" class="tg-btn"><span>@(Model.IsActive ? "Deactivate" : "Activate")</span></button>
                            </form>
                        </div>
                        <div class="form-group my-tour-btn">
                            <a class="tg-btn" asp-area="Company" asp-controller="Tour" asp-action="Edit" asp-route-id="@Model.Id">
                                <span>Edit</span>
                            </a>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


